.detailed-info{
    @include flexy($dir: column);
    margin: 0 auto;
  width: fit-content;
  table {
    tr,
    th,
    td {
      padding: 10px;
      font-family: $font-stack-primary;
      text-align: center;
    }

    tr {
      input {
        margin-left: 10px;
        width: 40px;
      }
    }
    border-collapse: collapse;
    thead {
      color: $dark1;
      border-bottom: 2px solid $dark1;
      font-weight: 500;
    }
    tbody {
      tr {
        border-bottom: 1px solid $gray1;
      }
      td:nth-child(8),td:nth-child(9){
          text-align: right;
      }
    }
}

.buttons{
  @include flexy($dir:column);
  button{
    margin: 2px;
    border-radius: 5px;
    padding: 2px 5px;
  }
}
.edit{
  border-color: $green1;
}
.delete{
  border-color: $red2;
}
}